.navbar {
  max-width: 550px;
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.navbar__badge {
  z-index: 5;

  background: linear-gradient(135deg,
      #6941ff,
      #4f46e5);

  color: white;
  padding: 12px 24px;
  border-radius: 999px;
}

.logo {
  color: #6c63ff;
  font-size: 28px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #6c63ff;
}